*{
    background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7, #91eae4);

}

.formBlock{
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formBlock > div{
    width: 230px;
    height: 50px;
    /* background-color: #e3ac83; */

}
.formBlock > div > input{
    width: 100%;
    height: 30px;
    /* background-color: rgb(105, 25, 203); */
    color: green;
}